misc_game-chs.code-workspace
sec5_tools
*/*/*.ks
*/*/*.txt
*/*/*.mjo
*/*/*.mjil
*/*/*.mjres
*/*/*.json
!*/*tra*/*.json
!*/*chs*/*.json
*__pycache__*
*ttf.json
*otf.json
*.yaml
.vs/*
*.rar
*.zip
*.7z
工具/proxy/proxy/*
工具/proxy/x64/*
*/.vs/*
*.obj
*.res
*.iobj
*.ipdb
*.log
*.recipe
*.tlog
いつか降る雪/data.dat
*.ipch
*.iobj
*.db
*/.vs
*/.rc
*/.aps
*/.suo
*/.sdf
*/.opensdf
工具/GAME_HOOK/鍵を隠したカゴのトリ/鍵を隠したカゴのトリ.rc
工具/GAME_HOOK/鍵を隠したカゴのトリ/鍵を隠したカゴのトリ.aps
工具/GAME_HOOK/鍵を隠したカゴのトリ/Release_for_others/vc143.pdb
工具/GAME_HOOK/鍵を隠したカゴのトリ/ALyCE_Humming.ttf
