misc_game-chs.code-workspace
sec5_tools
*/*/*.ks
*/*/*.txt
*/*/*.mjo
*/*/*.mjil
*/*/*.mjres
*/*/*.json
!*/*tra*/*.json
!*/*chs*/*.json
*__pycache__*
*ttf.json
*otf.json
*.yaml
.vs/*
*.rar
*.zip
*.7z
工具/proxy/proxy/*
工具/proxy/x64/*
*/.vs/*
*.obj
*.res
*.iobj
*.ipdb
*.pdb
*.log
*.recipe
*.tlog
いつか降る雪/data.dat
妹わたし、どんなことだって/data.pak
*.ipch
*.iobj
*.db
*.bmp

*/.vs
*/.rc
*/.aps
*/.suo
*/.sdf
*/.vsidx
*/.opensdf
工具/GAME_HOOK/鍵を隠したカゴのトリ/鍵を隠したカゴのトリ.rc
工具/GAME_HOOK/鍵を隠したカゴのトリ/鍵を隠したカゴのトリ.aps
工具/GAME_HOOK/鍵を隠したカゴのトリ/Release_for_others/vc143.pdb
工具/GAME_HOOK/鍵を隠したカゴのトリ/ALyCE_Humming.ttf
公園いたずらシミュレータ/font/*.png
公園いたずらシミュレータ/release/newfont_1/*.png
公園いたずらシミュレータ/release/newfont_2/*.png
公園いたずらシミュレータ/release/newfont_3/*.png
公園いたずらシミュレータ/release/newfont_4/*.png
公園いたずらシミュレータ/release/newfont_5/*.png
*/packages/*