misc_game-chs.code-workspace
sec5_tools
*/*/*.ks
*/*/*.txt
*/*/*.mjo
*/*/*.mjil
*/*/*.mjres
*/*/*.json
!*/*tra*/*.json
!*/*chs*/*.json
*__pycache__*
*ttf.json
*otf.json
*.yaml
.vs/*
*.rar
*.zip
*.7z
工具/proxy/proxy/*
工具/proxy/x64/*
*/.vs/*
*.obj
*.ipdb
*.log
*.recipe
*.tlog
