;文件需要UTF-8编码
;“font=”后输入的为字体名，而不是字体文件名。不明白的可以百度。
;默认为思源黑体 CN Medium，已经内置
;使用非默认字体带来的一切显示异常不负责解决
;“WidthScaleFactor=”后为字体横向缩放比例，100为默认值，表示宽度缩放比例为100%。90表示缩小为90%，110表示放大为110%，以此类推。

;推荐配置1
;WidthScaleFactor=90
;font=思源黑体 CN Medium


;推荐配置2
;WidthScaleFactor=50
;font=黑体

;;以上为注释
;;以下为配置项

WidthScaleFactor=90
font=思源黑体 CN Medium