                @font-face {
                    font-family: '宋体';
                    src: url('../../data/others/simsunb.ttf') format('truetype');
                    font-weight: normal;
                    font-style: normal;
                }

                @font-face {
                    font-family: '宋体';
                    src: url('../../data/others/simsunb.ttf') format('truetype');
                    font-weight: normal;
                    font-style: normal;
                }

                @font-face {
                    font-family: '宋体';
                    src: url('../../data/others/simsunb.ttf') format('truetype');
                    font-weight: normal;
                    font-style: normal;
                }

                @font-face {
                    font-family: '宋体';
                    src: url('../../data/others/simsunb.ttf') format('truetype');
                    font-weight: normal;
                    font-style: normal;
                }